body {
    background-color: #f0e2e2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background: linear-gradient(#000000,#434343);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    display: inline;
    margin: 0 15px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s, border-color 0.3s;
    cursor: pointer;
    text-align: center;
    height: 20px;
}

.social-icons a[href*="instagram"]:hover {
    color: #e4405f; 
    border-color: #e4405f; 
}

.social-icons a[href*="facebook"]:hover {
    color: #feffff; 
    border-color: #1877f2; 
}

.social-icons a[href*="whatsapp"]:hover {
    color: #25d366; 
    border-color: #25d366; 
}

.footer-text {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

.fa-facebook-f{
    width:20px;
}

